  <%  
    if($.cookie('post-cookie')) {
      var cookieValues = $.parseJSON($.cookie('post-cookie'));
      for(var i = 0; i < cookieValues.length; i++)  {
        cookieValues[i] = parseInt(cookieValues[i], 10);
      }
      var findValue = $.inArray(tile_model.id, cookieValues)
    } console.log("Popup Data ",tile_model);
     if(tile_model.source ==undefined || tile_model.source==""){
       var articlesource="source"; 
    }else{
       var articlesource=tile_model.source ;
    }
     
 %>

  <div class="modal fade" id="product_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="row"> 
            <div class="clse_brn">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           </div>
         </div>
         
        <div class="modal-body">
            <div class="popup_content">

           <div class="row">
           <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <span class="product_img"> 
  <% if(tile_model.image == 'images/DefaultIcon.png' || tile_model.image=='undefined'  || tile_model.image==undefined  || tile_model.image==''  ){     %>
  <p><%=  tile_model.first_words %></p> 
  <% }else{ %>
              <img class="popup-image" src="<% if(tile_model.image =='images/DefaultIcon.png' || tile_model.image=='undefined'  || tile_model.image==undefined  || tile_model.image==''  ){ %>
                  <%= default_img  %> <%
                }else{%>
                 <%= tile_model.image %><%
                }
                %>" alt="product_img" >
   <% } %>          
             </span>
             <a class="article_detail_popup" target="_blank" href="<%=  tile_model.url %>"><%=  articlesource %> </a>
            <p class="article_title_popup"><%=  tile_model.title %></p><br>
          </div>
           <div class="col-lg-2"></div>
          </div>
            
          <div class="row">
             <div class="col-lg-12">
             <% if(tile_model.image =='images/DefaultIcon.png' || tile_model.image=='undefined'  || tile_model.image==undefined  || tile_model.image==''  ){ }else{ %>
    
             
               <p><%=  tile_model.first_words %> </p>
  <% } %>
             <div class="prod_ft2">
           
           <dl>
            <!--
            <dt><a href="javascript:void(0);" data-tileid="<%= tile_model.id %>"  data-cid="<%= tile_model.clientid %>" class="tile_dislike  <% if(tile_model.tile_like ==0 && tile_model.tile_dislike==1  ){ %>  dislike-active  <% }  %>" ><span class="glyphicon glyphicon-thumbs-down"></span></a></dt>
             <dt><a href="javascript:void(0);" data-tileid ="<%= tile_model.id %>"  data-cid="<%= tile_model.clientid %>"  class="tile_like  <% if(tile_model.tile_like ==1 && tile_model.tile_dislike==0){  %>  like-active  <% }  %>"><span class="glyphicon glyphicon-thumbs-up"></span></a></dt>
            -->
             <dt><a href="javascript:void(0);" data-postid="<%= tile_model.id %>" data-cid="<%= tile_model.clientid %>"  class="post-share"><span class="glyphicon glyphicon-comment"></span></span></a></dt>
             <dt><a href="javascript:void(0);" data-postid="<%= tile_model.id %>"  data-cid="<%= tile_model.clientid %>" class="client-selected-post  <% if(findValue  >= 0) {     %> like-active  <% } %>
             " ><span class="glyphicon glyphicon-check"></span></a></dt>
             <dt><a href="javascript:void(0);" data-cid="<%= tile_model.clientid %>"  data-postid="<%= tile_model.id %>"   data-tileid="<%= tile_model.id %>"  class=" article-remove"><span class="glyphicon glyphicon-remove"></span></a></dt>
          </dl>
           
         </div>
             </div>
          </div>
              
           </div>          
        </div>
        
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->