       <!-- Share Article Modal -->
   <div class="modal fade" id="share_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
        <div id="fb-root"></div>
        <div class="modal-header">
            <div class="clse_brn2"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
        </div> 
         
        <div class="modal-body">
           <div class="popup_content">

          <div class="spc_prb"></div>
 
           <div class="row">
             <div class="col-lg-2"></div>
             <div class="col-lg-8">
                  <ul class="share_btn">
                   <li><a href="#" class="linkedin-btn"><img src="/web/bundles/acmefrontend/images/linkdein_sharebtn.png" alt="linkdein_share_button"></a></li>
                   <li><a href="#" class="facebook-btn"><img src="/web/bundles/acmefrontend/images/fb_sharebtn.png" alt="fb_sharebtn"></a></li>
                   <li><a href="#" class="twitter-btn"><img src="/web/bundles/acmefrontend/images/twitter_sharebtn.png" alt="twitter_sharebtn"></a></li>
                  </ul>   
             </div>                  
             <div class="col-lg-2"></div>
           </div>
           
             </div>
          </div>  
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
         <!-- Share Article Modal -->