<input type="text" class="client-search   ui-autocomplete-input" name="txtbx" placeholder="Client Search" class="form-control">
 
  <!--  <ul class="thumb_list2">
    <li><a class="auto-delivery-no" href="#"> <span class="glyphicon glyphicon-thumbs-down"></span></a></li>
    <li><a class="auto-delivery-yes" href="#"> <span class="glyphicon glyphicon-thumbs-up"></span></a></li>
  </ul>
  <div class="clearfix"></div>
<p class="email_sdbar"><strong>Next Email Delivery:</strong><br>
      <span class="date">mm/dd/yyyy</span><br>
     <span class='time'>hh:mm am EST</span></p> -->
    