  <input type="hidden" value="" id="alpha" />
  <div id="fb-root"></div>
  <span style="padding-left: 15px;" class="check-error"> </span>
    <%  
    console.log("clientsCollection pp", clientsCollection);
  var imagesArray = [];
 if(typeof clientsCollection.error != undefined ) {  
    console.log("ClientCollectionsTWIG",clientsCollection);
  console.log("Model Data",clientsCollection[0].active_alphabet) ;
  if($.cookie('post-cookie')) {
      var cookieValues = $.parseJSON($.cookie('post-cookie'));
      for(var i = 0; i < cookieValues.length; i++)  {
        cookieValues[i] = parseInt(cookieValues[i], 10);
      }
    }
    
   _.each(clientsCollection, function(model) {  
   });
    %>                   
   <div class="col-lg-1"></div>
    <div class="col-lg-9">


       
       <div class="page_list">
      <ul class="pagination">
	 <% for(var i=65;i<=90;i++) {      %>   
      <li class="<% if(clientsCollection[0].active_alphabet.toUpperCase() ==String.fromCharCode(i) ) { %>  active <% } %>"  ><a class="Userchars " href="javascript:void(0);"><%= String.fromCharCode(i)  %></a></li>

         <%   }    %>
        </ul>
    </div>
    <%
    console.log('dataaaaaaaaaaaa123', clientsCollection[0].data.length)
    if(clientsCollection[0].data.length > 0){
  _.each(clientsCollection[0].data, function(model) {  
     %>

      
      
 <div id="main" role="main" >
    <div class="clnt_bx">
     <h3><%= model.user_lname %>, <%= model.user_fname %></h3>
      <ul id="tiles2">
<!--Inner Li  -->
 <% console.log("ModelData Client View",model) ;


  console.log('length', model.client_data.length);
  if(model.client_data.length > 0){
  _.each(model.client_data, function(modeldata) {
  console.log('hihihihi', modeldata);  
 if(modeldata.image=='images/DefaultIcon.png' || modeldata.image=='undefined'  || modeldata.image==undefined  || modeldata.image==''  ){ 
 var img=default_img ;
  }else{
var img=modeldata.image ;
    }

    if(modeldata.source ==undefined || modeldata.source==""){
       var articlesource="source"; 
    }else{
       var articlesource=modeldata.source ;
    }

     %>
        <li>
         <span class="rt_date"><%= modeldata.post_date %></span>
         <div class="prod_mid client-article">
        
 <% if(img !=default_img) { %>
 
<a   client-id="<%= model.cid %>" data-tileid="<%= modeldata.id %>"   class="client-post-detail" href="javascript:void(0)">

           <img src="<%= img %>" alt="product1">      </a>
           <% }else{  if(modeldata.first_words.length >=110){ %>

<%=  modeldata.first_words.substring(0,110)+"..."  %>
<% }else{ %>
<%=  modeldata.first_words  %>
<%
}
}
%> 

         
         

           <div class="prodetailstes">
	         <% if(img !=default_img) { %>
           <a href="<%= modeldata.url%>" target="_blank" class="web_nm "><%= modeldata.source%></a>
              <p class="article_title "><%= modeldata.title %></p>
                <% }else{ %>
               <a href="<%= modeldata.url%>" target="_blank" class="web_nm link-dash"><%= articlesource %></a>
              <p class="article_title info-link-hd"><%= modeldata.title %></p>  
                <% } %>





          <!-- <a href="<%= modeldata.url %>" target="_blank" class="web_nm"><%= modeldata.source %></a>
              <p>Title of Article - <%= modeldata.title %></p> -->
           </div>
         </div>
         <div class="prod_ft2">
           <dl>
             <dt><a href="#product_model" class="client-post-detail" data-target="#product_model" data-tileid="<%= modeldata.id %>" client-id="<%= model.cid %>" data-toggle="modal"><span class="glyphicon glyphicon-new-window"></span></a></dt>
             <dt><a href="javascript:void(0);" class="client-selected-post <%
                var index = $.inArray(modeldata.id, cookieValues);
                if(index >= 0) {
                  %> like-active   <% 
                }
              %>"
              data-postId= "<%= modeldata.id  %>"><span class="glyphicon glyphicon-check"></span></a></dt>
             <dt><a href="javascript:void(0);" class="post-remove" data-cid="<%= model.cid %>" data-tileid="<%= modeldata.id  %>"><span class="glyphicon glyphicon-remove"></span></a></dt>
          </dl> 
         </div>
         <div class="clearfix"></div>
         <div class="smt_cont">
           <p>SmartContent<sup>TM</sup></p>
         </div>
       </li>
       <% }); 
          }
        else
          {
            %>
            <div>
            <span>NO Data Available</span>
            </div>
            <%
          }

       %>
      </ul>
     </div>
    </div>
    <div class="clearfix"></div>   
    
<%  }); 
}
else{
  %>
            <div>
            <span>No Data Available</span>
            </div>
            <%
}
%>

  <!-- End of one Client Block  -->

    </div>
       
       </div>
       <div class="col-lg-2"></div>      
          
     </div>
    </div>
  </div>
  </span>
  <% } %>
