 <%
    console.log("POPUPDETAIL",tile_model,tile_model[0].id) ;
    if($.cookie('post-cookie')) {
      var cookieValues = $.parseJSON($.cookie('post-cookie'));
      for(var i = 0; i < cookieValues.length; i++)  {
        cookieValues[i] = parseInt(cookieValues[i], 10);
      }
      var findValue = $.inArray(tile_model[0].id, cookieValues)
    }
    if(tile_model[0].source ==undefined || tile_model[0].source==""){
       var articlesource="source"; 
    }else{
       var articlesource=tile_model[0].source ;
    }
 %>
  <div class="modal fade" id="productclk_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="row"> 
            <div class="clse_brn">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           </div>
         </div>
         
        <div class="modal-body">
            <div class="popup_content">

           <div class="row">
           <div class="col-lg-2"></div>
            <div class="col-lg-8">
             <span class="product_img">
  <% if(tile_model[0].image =='images/DefaultIcon.png' || tile_model[0].image=='undefined'  || tile_model[0].image==undefined  || tile_model[0].image==''  ){ %>
  <p><%=  tile_model[0].first_words %></p> 
  <% }else{ %>
              <img class="popup-image" src="<% if(tile_model[0].image =='images/DefaultIcon.png' || tile_model[0].image=='undefined'  || tile_model[0].image==undefined  || tile_model[0].image==''  ){ %>
                  <%= default_img  %> <%
                }else{%>
                 <%= tile_model[0].image %><%
                }
                %>" alt="product_img" >
   <% } %>          
             </span>
            <a target="_blank" href="<%=  tile_model[0].url %>"><%=  articlesource %> </a>
            <p class="article_title_popup"><%=  tile_model[0].title %></p><br>
          </div>
           <div class="col-lg-2"></div>
          </div>
            
          <div class="row">
             <div class="col-lg-12">
          <% if(tile_model[0].image =='images/DefaultIcon.png' || tile_model[0].image=='undefined'  || tile_model[0].image==undefined  || tile_model[0].image==''  ){ }else{ %>
    
             
               <p><%=  tile_model[0].first_words %> </p>
  <% } %>
             <div class="prod_ft2">
           
           <dl>

             <dt><a href="javascript:void(0);" data-postid="<%= tile_model[0].id %>" class="tile_like  <% if(tile_model[0].tile_like ==1 && tile_model[0].tile_dislike==0){  %>  like-active  <% }  %> "><span class="glyphicon glyphicon-thumbs-up"></span></a></dt>
             <dt><a href="javascript:void(0);" data-postid="<%= tile_model[0].id %>" class="article-remove asas"><span class="glyphicon glyphicon-remove"></span></a></dt>

           
             <!--<dt><a href="javascript:void(0);" data-postid="<%= tile_model[0].id %>" class="tile_dislike  <% if(tile_model[0].tile_like ==0 && tile_model[0].tile_dislike==1  ){ %>  dislike-active  <% }  %>" >X</a></dt>-->
             <dt><a href="javascript:void(0);" data-postid="<%= tile_model[0].id %>"class="post-share"><span class="glyphicon glyphicon-comment"></span></span></a></dt>
             <dt><a href="javascript:void(0);" data-postid="<%= tile_model[0].id %>" class="selected-post <% if(findValue  >= 0) {     %> like-active  <% } %>" ><span class="glyphicon glyphicon-check"></span></a></dt>
             <!--<dt><a href="javascript:void(0);" class="article-remove"><span class="glyphicon glyphicon-remove"></span></a></dt>-->
          </dl>
           
         </div>
             </div>
          </div>
              
           </div>          
        </div>
        
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->