<div id="fb-root"></div>
<div class="col-lg-1"></div>
<div class="col-lg-9">   

  <span class="check-error" style ="padding-left: 15px;" > </span>

  <div id="main" role="main" >
  <ul id="tiles">
  <% 
   if($.cookie('post-cookie')) {
      var cookieValues = $.parseJSON($.cookie('post-cookie'));
      for(var i = 0; i < cookieValues.length; i++)  {
        cookieValues[i] = parseInt(cookieValues[i], 10);
      }
    }


    var imagesArray = [];
 if(typeof tilesCollection.error != undefined ) {  
console.log("TileCollection",tilesCollection);
if(tilesCollection.error){
  $('#loaderdiv').hide();
 %><div id="errorDiv"><span class="glyphicon glyphicon-inbox"></span><h4>No articles in this category</h4></div>
<% }

    _.each(tilesCollection, function(model,ix) {  
          if(model.image=='images/DefaultIcon.png' || model.image=='undefined'  || model.image==undefined  || model.image==''  ){ 
            var img=default_img ;
          }else{
            var img=model.image ;
          }
          if(model.source==''){model.source='source'; }
     if (ix <= 24){

    %>
       <li data-id="<%=  model.id %>">
         <span class="rt_date"><%= model.post_date %></span>
         <div class="prod_mid">
          <% if(img !=default_img) { %>
<a class="tile_detail"     data-tileid="<%= model.id  %>" href="javascript:void(0);">
  <img class="popup-image"src="<%= img %>" id="gggm" alt="product1" title="Image"/>
</a>
           <% }else{  if(model.first_words.length >=110){ %>

<%=  model.first_words.substring(0,110)+"..."  %>
<% }else{ %>
<%=  model.first_words  %>
<%
}
}
%>           <div class="prodetailstes">
 <% if(img !=default_img) { %>
           <a href="<%= model.url%>" target="_blank" class="web_nm "><%= model.source%></a>
              <p class="article_title_popup "><%= model.title %></p>
                <% }else{ %>
               <a href="<%= model.url%>" target="_blank" class="web_nm link-dash"><%= model.source%></a>
              <p class="article_title_popup info-link-hd"><%= model.title %></p>  
                
                <% } %>

           </div>
         </div>
         <div class="prod_ft">
           <dl>
             <dt><a href="javascript:void(0);"  data-tileid="<%= model.id  %>" title="Like Article" class="tile_like  <% if(model.tile_like ==1 && model.tile_dislike==0){  %>  like-active  <% }  %> "><span class="glyphicon glyphicon-thumbs-up"></span></a></dt>
             <dt><a href="javascript:void(0);"    data-tileid="<%= model.id  %>"  title="Remove Article" class="article-remove"><span class="glyphicon glyphicon-remove"></span></a></dt>
             <!--<dt><a href="javascript:void(0);"  data-tileid="<%= model.id  %>"  class="tile_dislike  <% if(model.tile_like ==0 && model.tile_dislike==1  ){ %>  dislike-active  <% }  %> "  ><span class="glyphicon glyphicon-thumbs-down"></span></a></dt>-->
             <dt><a href="javascript:void(0);"   data-tileid="<%= model.id  %>"  class="tile_detail" title="View Details"  href="#productclk_model" data-toggle="modal" data-target="#productclk_model"   ><span class="glyphicon glyphicon-new-window"></span></a></dt>
             <dt><a href="javascript:void(0);"  title="Select" class="selected-post  
              <%
                var index = $.inArray(model.id, cookieValues);
                if(index >= 0) {
                  %> like-active   <% 
                }
              %>" data-postId= "<%= model.id  %>"><span class="glyphicon glyphicon-check"></span></a></dt>
          </dl> 
         </div>
       </li>
    <% 

      }
    }); 
 
      %>
<%  }else { 
alert('no data');
 }     %>

      </ul>

    </div>       
       </div>
       <div class="col-lg-2"></div>
         
     </div>
    </div>
  </div>

    <!-- Once the images are loaded, initalize the Wookmark plug-in. -->
 </span>

 <div id="loaderCircle" style="display: none;  "></div>