  <br>
  <div class="list-group">
    <a class="list-group-item   cat-selected" data-categoryid = "all" href="#">All</a>
    <% _.each(categoriesCollection, function(model) {   %>
      <a class="list-group-item"  data-categoryid = "<%= model.category_id %>" href="#"><%= model.category_name %></a>
    <% });  %>
  </div>
</div>