<%
console.log("groups_collection",groups_collection);

var is_db_check = 0;
var is_db_clients = 0;

  if(typeof $.cookie('smartclients') != 'undefined') {

      var cookieValues = $.cookie('smartclients');
      var smart_check = 1;

      for(var i = 0; i < cookieValues.length; i++)  {
        cookieValues[i] = parseInt(cookieValues[i], 10);
       
      }
         
} else {

 var smart_check = 0;

}
    
%>
<script type="text/javascript">
        $(".tablesorter").tablesorter({
          headers: {
            0: {
              sorter: false
            },
            3: {
              sorter : false
            }

          }
      }); 
</script>

 <div class="col-lg-1"></div>
 <div class="col-lg-9">
       
         <h2 class="page-title">Email SmartContent > Contacts</h2>
         
      <span class="check-error"> </span>

         <div class="row">
            <div class="col-lg-9">   
             <table width="100%" class="table tablesorter table-hover table-cntct">
            <thead>
              <tr>
                  <th>#</th>
                    <th class="smart_img2">Client<a class="last-touch-arrow" href="javascript:void(0);"> </a></th>
                    <th class="smart_img">Last Touch<a class="last-touch-arrow" href="javascript:void(0);"> </a></th>
                    <th style="padding-right: 17px;">Select All&nbsp;&nbsp;<input type='checkbox' class='css-checkbox1' id='all'><label for='all' class='css-label check'></label></th>
                </tr>
            </thead>
            <tbody>


             

               <%  console.log("CC",groups_collection[0].all_clients); 
                _.each(groups_collection[0].all_clients, function(model, ix) {   
                
                if(smart_check==1){
                  var index = $.inArray(parseInt(model.client_id), JSON.parse(cookieValues)); 
                  }else{
                    var index =-1 ;
                  }

               %>

                <tr>
                  <td><%= ix + 1 %></td>
                    <td class="class2"><%= model.client_name   %></td>

                    <td class="class2"><%= model.last_touch   %></td>

                    <td><input id="demo_box_<%= ix + 1 %>" class="css-checkbox<%
                         if(index >= 0) { 
                         %> check <% 
                       }
                    %>" data-clientid="<%= model.client_id %>" type="checkbox" />
                        
                      <label for="demo_box_<%= ix + 1 %>" name="demo_lbl_<%= ix + 1 %>" class="css-label 
                        <%
                        if(index >=0) {
                         %>   check <% 
                       }
                    %>" > </label></td>

                </tr>
                 <%
                    });
                  %>
                <tr>
                  <td id ="length1" colspan ="3" style="display:none;">
                     <span class="check-length" style="float:left;"> </span> 
                  </td>
                </tr>
               </tbody>
             </table>
             
             <hr/> 
              
           <div class="btn-group btn-pathway">
             <button type="button" class="btn btn-default active" id="contacts"><a href="#">Contacts</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default" id="email"><a href="#">Email</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default" id="review"><a href="#">Review</a></button>

          </div>  <button class="btn btn-primary btn_grp" name="btn" id="next">Next</button>

 
              
            </div>
            <div class="col-lg-3"></div>
            
         </div>
                
       </div>
 