<%
//console.log("clients_collection",clients_collection);


   if(typeof $("#UserArray").val() != 'undefined') {
      var cookieValues = $.parseJSON($("#UserArray").val());

      for(var i = 0; i < cookieValues.length; i++)  {
        cookieValues[i] = parseInt(cookieValues[i], 10);
      }
      console.log("cookieValues", cookieValues);
    }

%>

<script type="text/javascript">
        $(".tablesorter").tablesorter({
          headers: {
            0: {
              sorter: false
            },
            3: {
              sorter : false
            }

          }
      }); 
</script>

 <div class="col-lg-1"></div>
 <div class="col-lg-9">
       
         <h2 class="page-title">Email Client > Contacts</h2>
           
           <span class="check-error"  > </span>

         <div class="row">
            <div class="col-lg-9">   

             <table width="100%" class="table tablesorter table-hover table-cntct" id="tablesorter-demo">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="client_img2">Client<a class="last-touch-arrow" href="javascript:void(0);"> </a></th>
                    <th class="client_img">Last Touch<a class="last-touch-arrow" href="javascript:void(0);"> </a></th>
                    <th style="padding-right: 17px;">Select All&nbsp;&nbsp;<input type='checkbox' class='css-checkbox' id='all'><label for='all' class='css-label'></label></th>
                  </tr>
                </thead>
                <tbody>

               <%
                _.each(clients_collection, function(model, ix) { 

               %>

                <tr>
                  <td><%= ix + 1 %></td>
                    <td class="class2"><%= model.client_name   %></td>

                    <td class='class2'><%= model.last_touch   %></td>

                    <td><input id="demo_box_<%= ix + 1 %>" class="css-checkbox<%
                         var index = $.inArray(parseInt(model.client_id), cookieValues);
                        if(index >= 0) {
                         %> check <% 
                       }
                    %>" data-clientid="<%= model.client_id %>" type="checkbox" />
                        
                      <label for="demo_box_<%= ix + 1 %>" name="demo_lbl_<%= ix + 1 %>" class="css-label 
                       <%
                         var index = $.inArray(parseInt(model.client_id), cookieValues);
                        if(index >= 0) {
                         %> check <% 
                       }
                    %>  " > </label></td>

                </tr>
                 <%
                    });
                  %>
                <tr>
                  <td id ="length1" colspan ="3" style="display:none;">
                    <span class="check-length" style="float:left;"> </span> 
                  </td>
                </tr>
              </tbody>
             </table>
             
             <hr/> 
              
           <div class="btn-group btn-pathway">
             <button type="button" class="btn btn-default active" id="contacts"><a href="#">Contacts</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default" id="email"><a href="#">Email</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default" id="review"><a href="#">Review</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>

          </div>  <button class="btn btn-primary btn_grp" name="btn" id="next">Next</button>

 
              
            </div>
            <div class="col-lg-3"></div>
            
         </div>
                
       </div>

       
 