 <span id="view">
   <div class="top_cont dashboard-sidebar">
   <div class="container"> 
     <div class="row">
        
      <div class="col-lg-2">
          <ul class="thumb_list">
            <li>
             <div class="dropdown"><a href="#"  data-toggle="dropdown"> <span class="glyphicon glyphicon-th"></span></a>
              
               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="level">
                <li role="presentation" data-level="company"><a role="menuitem" tabindex="-1" href="#">
                Company Level</a></li>
                <li role="presentation" data-level="client"><a role="menuitem" tabindex="-1" href="#">
                Client Level</a></li>
              </ul>
             
             </div>
            </li>

            <li> <div class="dropdown"><a href="#"  data-toggle="dropdown"> <span class="glyphicon glyphicon-envelope"></span></a>
               
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation" class="email-group"><a role="menuitem" href="#myModal" data-toggle="modal" data-target="#myModal">Email Group</a></li>
                  <li role="presentation" class="email-client"><a role="menuitem" href="#myModal2" data-toggle="modal" data-target="#myModal">Email Client</a></li>
                  <li role="presentation" class="email-smartcontent"><a role="menuitem" data-toggle="modal" data-target="#myModal" href="#myModal3">Email SmartContent<sup>TM</sup></a></li>
                </ul>
            
            </div>
            </li>

         </ul>
         <div class="clearfix"></div><br>
         