<%
   if($.cookie('SelectDate') != 'undefined') {
      var Date = decodeURI($.cookie('SelectDate'));

      console.log("Date", Date);

    }

     if($.cookie('SelectHours') != 'undefined') {
      var Hours = decodeURI($.cookie('SelectHours'));

      console.log("Hours", Hours);

    }

     if($.cookie('SelectMinutes') != 'undefined') {
      var Minutes = decodeURI($.cookie('SelectMinutes'));

      console.log("Minutes", Minutes);

    }
   
     if($.cookie('SelectTime') != 'undefined') {
      var Time = decodeURI($.cookie('SelectTime'));

      console.log("Time", Time);
    }

    %>

<!-- DatePicker-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">  
<script> 

var dateToday = new Date();
  jQuery(function() {
             jQuery( "#pick_date" ).datepicker({
                dateFormat: "mm/dd/yy",
                //changeMonth: true,
                yearRange: 'c-65:c+10',
                //changeYear: true,
                minDate: dateToday,
                });
            });

  jQuery(function() {
             jQuery( "#smart_date" ).datepicker({
                dateFormat: "mm/dd/yy",
                //changeMonth: true,
                yearRange: 'c-65:c+10',
                //changeYear: true,
                minDate: dateToday,
                });
            });


 $(document).ready(function(){
    $("label#date_error").hide();
    

    });


 $("#pick_date").change(function(){
      
    // var regex = /^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$/g;

   var regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
  
    var date = $("#pick_date").val();
   
    if(!regex.test(date)){
     // alert("no");
      $("label#date_error").show();  
      $("#pick_date").focus();  
      return false;
      }
      else {
      $("label#date_error").hide();

      }
    });

</script>



<%
  if($.cookie('contacts') != null && ($.cookie('contacts') == 'group' || $.cookie('contacts') == 'client'))   {
     %>

       <!-- devivery time Modal -->
   <div class="modal fade" id="del_tme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
       
        <div class="modal-header">
            <div class="clse_brn2"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> </div>
            <h2 class="page-title">Delivery Time</h2>
        </div> 
         
      <div class="modal-body">
        <div class="popup_content">
 
           <div class="row">
             <div class="col-lg-3"> Delivery at</div>
             <div class="col-lg-9"> 
               <div class="del_time">

            <% if(Date != 'undefined'){  
                                    var date_change = Date  ;

                                   }  %>




            <input type="text" name="txtobx" placeholder="mm/dd/yyyy" class="txtun_bx" id="pick_date" value="<%= date_change %>"> at <br><br>
             <label style="color:red;" id="date_error"> Date should be of valid format.</label><br/>
     
                 <% if(Hours != 'undefined'){  
                                    var hours_change = Hours  ;

                                   }  %>    




             <select name="tme" class="sel_bx" id="select_hours">
               
                <% for(var a=0; a < 13; a++){
               if(a<10) { var b ="0"+a } else { var b = a } %>
               <option value="<%= b %>"  <% if( hours_change == b) { %> selected = "selected" <% } %> >
              <%= b %>
               </option>
             
             <% } %>
 

             </select>


            <% if(Minutes != 'undefined'){  
                                    var minutes_change = Minutes  ;

                                   }  %>    
               
           <select name="min" class="sel_bx" id="select_minutes">
               
               <% for(var a=0; a < 60; a++){
               if(a<10) { var b ="0"+a } else { var b = a } %>
               <option value="<%= b %>" <% if( minutes_change == b) { %> selected = "selected" <% } %> >
              <%= b %>
               </option>
             
             <% } %>

            

              </select>

               <% if(Time != 'undefined'){  
                                    var time_change = Time  ;

                                   }  %>  
               
               <select name="sec" class="sel_bx" id="smart_time">
                   <option value ="AM" <% if( time_change == "AM") { %> selected = "selected" <% } %> > A.M. </option>  
                   <option value ="PM" <% if( time_change == "PM") { %> selected = "selected" <% } %>> P.M. </option>  
               </select>
               
               &nbsp;Eastern Time
              </div>
               
            </div>
         </div>
           
         </div>
       </div>
         
         <div class="modal-footer">
            <input type="button" name="btn1" class="btn btn-primary " value="Update" id="update_delivery"> 
         </div>   
          
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
       <!-- devivery time Modal -->

 <% } %>

<script> 

var dateToday = new Date();
  jQuery(function() {
             jQuery( "#pick_date" ).datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                yearRange: 'c-65:c+10',
                changeYear: true,
                minDate: dateToday,
                });
            });

  jQuery(function() {
             jQuery( "#smart_date" ).datepicker({
                dateFormat: "mm/dd/yy",
                changeMonth: true,
                yearRange: 'c-65:c+10',
                changeYear: true,
                minDate: dateToday,
                });
            });


 $(document).ready(function(){
    $("label#date_error").hide();
    

    });


 $("#pick_date").change(function(){
      
    // var regex = /^(((0[1-9]|[12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$/g;

   var regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;
  
    var date = $("#pick_date").val();
   
    if(!regex.test(date)){
     // alert("no");
      $("label#date_error").show();  
      $("#pick_date").focus();  
      return false;
      }
      else {
      $("label#date_error").hide();

      }
    });

</script>

