<%
 if($.cookie('TempId') != '') {
      var cookieTempId = $.cookie('TempId');
    }
        console.log("cookieTempId", cookieTempId);

   if($.cookie('ChangeSubject') != 'undefined') {
      var cookieChangeSubject = decodeURI($.cookie('ChangeSubject'));

      console.log("cookieChangeSubject", cookieChangeSubject);

    }

     if($.cookie('ChangeBody') != 'undefined') {
      var cookieChangeBody = decodeURI($.cookie('ChangeBody'));

      console.log("cookieChangeBody", cookieChangeBody);

    }
%>

<script>    
// var d = new Date(); // current date
// alert(d);
// var today_date =
//     ("0" + d.getDate()).slice(-2) + "/" +
//     ("0" + (d.getMonth() + 1)).slice(-2) + "/" + 
//     d.getFullYear();
// alert(today_date);

</script>

<div class="col-lg-1"></div>
       <div class="col-lg-9">

      <% if(typeof $.cookie('contacts') != 'undefined') {

           var view = $.cookie('contacts');
           
          if(view == 'group'){ %>

        <h2 class="page-title">Email Group > Email Contents</h2>
    
          <% } else if(view == 'client') { %>

         <h2 class="page-title">Email Client > Email Contents</h2>

          <% } else { %>

         <h2 class="page-title">Email SmartContent > Email Contents</h2>

         <% } } %>

         <br/>

            <span class="check-error" > </span>

         <div class="row">
            <div class="col-lg-9">   
             <div class="form-group">
              <label>Template:</label>
               <select class="form-control eml-temp-slct" id="select_template">
                
                <option value = "0">-- Select template --</option>
                 <%
                 var cnt=0;

                _.each(templates_data, function(model) { 
                 %>
    
                <option <% if(temp_id == model.temp_id || cookieTempId == model.temp_id){ %> selected = "selected" <% } %>  id ="<%= model.temp_id %>" 
                
                 value="<%= model.temp_id %>" > <%= model.temp_name %></option>

                 <%
                    });
                  %>

               </select>
             </div>

                <%
                _.each(templates_data, function(model) { 

                    if(temp_id == model.temp_id || cookieTempId == model.temp_id ){  cnt++;

                 %>

             <div class="email-template live-template">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                  <tr>
                    <td class="email-header-container">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="email-header-info-label"> To: </td>
                                <td class="email-header-info-details"> 
                                
                                <input class="email-client-email-address" type="email" placeholder="< recipient email address >" readonly="readonly" />

                                </td>
                            </tr>
                            <tr>
                                <td class="email-header-info-label"> From: </td>
                                <td class="email-header-info-details"> 

                                <input class="email-from-company" type="text" placeholder="<company name> <company from email>" value ="<%= model.data.from_name %>  < <%= model.data.from_email  %> >" readonly ="readonly"/>
                                </td>
                            </tr>
                             <tr>
                                <td class="email-header-info-label"> Reply-to: </td>
                                <td class="email-header-info-details">

                                 <input class="email-reply-to-email" type="email" placeholder="<company reply-to email>" value="<%= model.data.reply_to_email %>"  readonly="readonly"/>

                                 </td>
                            </tr>
                            <tr>
                                <td class="email-header-info-label"> Subject </td>
                                <td class="email-header-info-details">
                        
                              <% if(cookieChangeSubject != 'undefined'){  
                                    var subject_change = cookieChangeSubject  ;

                                   } else { 
                                     var subject_change  = model.data.mail_subject ;
                                   } %> 

                            
                                 <input class="email-subject" type="text" id="template_subject" placeholder="<subject>" value="<%= subject_change %> " />


                                 </td>
                            </tr>
                        </table>
                    </td>
                  </tr>
              <tr>
                <td class="email-body">
				<table class="email-logo-holder">
                  <tr>
                    <td>

                    <img class="email-company-logo" src ="<%= company_logo %>/<%=model.data.logo %>" alt="Company Logo">

                    </td>
                   
                  </tr>
                </table></td>
                </tr>
              <tr>
                <td class="email-client-name"> &lt;Client Name&gt; , </td>
              </tr>
              <tr>
                <td class="body-content">
                  
                   <% if(cookieChangeBody != 'undefined'){  
                                    var body_change = cookieChangeBody  ;

                                   } else { 
                                     var body_change  = model.data.mail_body ;
                                   } %>   


                  <textarea class="email-body-contents" rows="11" cols ="64" id="template_body"><% if(body_change!= " "){ %><%= body_change %><% } else { %>[Body]
                  
                   <% } %></textarea >

                </td>
              </tr>
             
               <tr>
                    <td colspan="2" class="email-disclosure">

                  <% if(model.data.mail_disclosure!= " ") { 
                      var disclosure_temp = model.data.mail_disclosure ;
                     var disclosure1     = encodeURI(disclosure_temp);    
                     var  disclosure = disclosure1.replace(/%0A/g,"<br>");
                     disclosure =decodeURI(disclosure);                   
                      
                    %>

               <%= disclosure %>   


                   <% } else { %>

                    <Signature/Disclosure>

                   <% } %>


                    </td>
               </tr>


                    <tr>
                      <td class="email-footer-holder">
                        <table class="email-footer">
                            <tr class="email-footer">
                                <td class="email-footer-contents">
                                    You have received this email because your email address is subscribed to
                                    
                                    <% if(model.data.company_name == '') { %>

                                       <Company Name>

                                       <% } else {  %>

                                        <%= model.data.company_name %>
                                       
                                       <% } %> 

                                       communications. <a class="unsubscribe-footer" href="javascript:void(0);"> Unsubscribe</a>
                                  </td>
                              </tr>
                              <tr>
                                <td class="email-footer-companyaddress">
                                    
                                    <% if(model.data.company_name == '') { %>

                                       <Company Name>

                                       <% } else { %>

                                        <%= model.data.company_name %>.
                                       
                                        
                                       <% }

                                        if(model.data.company_address == '') { %>

                                            <Company Address>
                                           
                                           <% } else { %>

                                          <%= model.data.company_address %>

                                           <% } %>,

     

                         <% if (model.data.company_address2 != '') { %> <%= model.data.company_address2 %>, <% } %>
                         <% if (model.data.company_city != '') { %> <%= model.data.company_city %>, <% } %>
                        
                         <% if (model.data.company_state != '') { %> <%= model.data.company_state %><% }%>
                          <% if (model.data.company_zipcode != '') { %> <%= model.data.company_zipcode %> <% } %>

           
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                    <table class="email-sentbylogo">
                                        <tr>
                                            <td class="email-footer-poweredby"> Powered by: </td>
                                              <td class="poweredby-logo"><img class="poweredby-logo" src="<%= email_footer_logo %>" /></td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                              
                          </table>
                      </td>
                    </tr>    
                        
                 </table>
               
             </div>

                <% }    %>



        <% 
                 
            });
                if(cnt ==0) {

          %>
                
<div class="main email-template">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                  <tr>
        <td class="email-header-container">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="email-header-info-label"> To: </td>
                                <td class="email-header-info-details"> 
                                
                                <input class="email-client-email-address" type="email" placeholder="<recipient email address>" readonly ="readonly"/>

                                </td>
                            </tr>
                            <tr>
                                <td class="email-header-info-label"> From: </td>
                                <td class="email-header-info-details"> 

                                <input class="email-from-company" type="text" placeholder="<company name> <company from email>"  readonly ="readonly" />

                                </td>
                            </tr>
                             <tr>
                                <td class="email-header-info-label"> Reply-to: </td>
                                <td class="email-header-info-details">

                                 <input class="email-reply-to-email" type="email" placeholder="<company reply-to email>"  readonly ="readonly" />

                                 </td>
                            </tr>
                            <tr>
                                <td class="email-header-info-label"> Subject </td>
                                <td class="email-header-info-details"> 

                                 <input class="email-subject" type="text" placeholder="<subject>"  readonly ="readonly"/>

                                 </td>
                            </tr>
                        </table>
                    </td>
                  </tr>
              <tr>
                <td class="email-body">
				<table class="email-logo-holder">
                  <tr>
                    <td>

                    <img class="email-company-logo" src="dist/img/MiFilter2.png" alt="Company Logo">

                    </td>
                    <td>

                     

                    </td>
                  </tr>
                </table></td>
                </tr>
              <tr>
                <td class="email-client-name"> &lt;Client Name&gt; , </td>
              </tr>
              <tr>
                <td class="body-content">

                 [Body]

                </td>
              </tr>
             
               <tr>
                    <td class="email-disclosure" colspan="2">

                    [Signature/Disclosure]

                    </td>
              </tr>

              <tr>
                      <td class="email-footer-holder">
                        <table class="email-footer">
                            <tr>
                                <td class="email-footer-contents">
                                    You have received this email because your email address is subscribed to [Company Name] communications. <a class="unsubscribe-footer" href="javascript:void(0);"> Unsubscribe</a>
                                  </td>
                              </tr>
                              <tr>
                                <td class="email-footer-companyaddress">
                                    <Company Name> <Company Address>
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                    <table class="email-sentbylogo">
                                        <tr>
                                            <td class="email-footer-poweredby"> Powered by: </td>
                                              <td class="poweredby-logo"> <img class="poweredby-logo" 
                                                 src="<%= email_footer_logo %>"
                                              /> </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                              
                          </table>
                      </td>
                    </tr>    
                        
                 </table>
               
               
             </div>

           <% 
                }

           %>

             <hr/> 
              
           <div class="btn-group btn-pathway">
             <button type="button" class="btn btn-default" id="contacts"><a href="#">Contacts</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default active" id="email" ><a href="#">Email</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default" id="review" ><a href="#">Review</a></button>

          </div>  <button class="btn btn-primary btn_grp" name="btn" id="next">Next</button>

 
              
            </div>
            <div class="col-lg-3"></div>
            
         </div>
                
       </div>
     <div class="col-lg-2"></div>

     <br/><br/>