<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <style>
#loaderdiv {
    background: url("../bundles/acmefrontend/images/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
   /* height: 500px;*/
    left: 44%;
    position: fixed;
    top: 23%;
    width: 300px;
    z-index: 999;
  }
</style>
 
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="<%= dashboard %>" class="navbar-brand"><img src="<%= header_logo %>" alt="mifilter-logo"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="<%= setup %>">Dashboard</a></li>
            <li><a href="<%= contacts %>">Contacts</a></li>
            <li><a href="<%= content %>">Content</a></li>
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color: #428ACA;background-color: ;">Emails</a>
                  <ul role="menu" class="dropdown-menu">
                        <li><a href="<%= email %>"style="color:#428aca">Templates</a></li>
                        <li><a href="<%= campaigns %>"style="color:#428aca">Campaigns</a></li>
                 </ul>
            </li>
            <li><a href="<%= analytics %>">Analytics</a></li>
            <li><a href="<%= support %>">Support</a></li>
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color: #428ACA;background-color: ;">Account</a>
                  <ul role="menu" class="dropdown-menu">
                        <li><a href="<%= settings %>"style="color:#428aca">Settings</a></li>
                        <li><a href="<%= upgrade %>"style="color:#428aca">Upgrade</a></li>
                        <li><a href="<%= logout %>"style="color:#428aca">Logout</a></li>
                  </ul>
            </li>      
         </ul>
        </div><!--/.nav-collapse -->
      </div>
       <div id="loaderdiv"></div>  
    </div>
<input type="hidden" name="UserArray" id="UserArray" value="[]" >
<input type="hidden" name="smartclients" id="smartclients" value="[]" >

  <%
  	  $.ajax({
		url      :  '../check_Plan/',
		dataType : 'json',
		success  : function(response){
			if (response.success==1) {
				var planend = response.date; 
                    if(planend !=0) { 
                        $('#alertDiv').show();
                        $('#day').html(planend);
                    }else{
                        $('#alertDiv').hide();
                    } 
			}
		},error  : function(xhr, ajaxOptions, thrownError){
			console.log('Error code is ',xhr.status, 'and error is ',thrownError);
		}
		});
  
%>
<div id='alertDiv' class='container' style='display: none'>
    <div class="alert alert-info">Heads up! Your free trial expires in  <span id='day'></span> days!<a href="<%= upgrade %>" class='btn setup btn-default btn-buynow'>Buy Now</a></div>
</div>