<%  
   if(typeof $.cookie('gArray') != 'undefined') {

      var groups = $.cookie('gArray');

       var groups_array = $.parseJSON(groups);

       var groups_array_length = groups_array.length;

      }


    if(typeof $("#UserArray").val() != 'undefined') {

      var clients = $("#UserArray").val();

       var clients_array = $.parseJSON(clients);

        var clients_array_length = clients_array.length;

      }


   if(typeof $("#smartclients").val() != 'undefined') {

      var smart_clients = $("#smartclients").val(); 

      var smart_clients_array = $.parseJSON(smart_clients);

      var smart_array_length = smart_clients_array.length;

      }

    if(typeof $.cookie('post-cookie') != 'undefined') {

      var articles = $.cookie('post-cookie');

       var articles_array = $.parseJSON(articles);

        var articles_array_length = articles_array.length;

      }
 
     if(typeof $.cookie('ChangeSubject') != 'undefined') {

      var subject1 = $.cookie('ChangeSubject');
      var subject = decodeURI(subject1);

      }
  
      if(typeof $.cookie('SelectDate') != 'undefined') {

        var date = $.cookie('SelectDate');
     
      if(typeof $.cookie('SelectHours') != 'undefined') {

        var hours = $.cookie('SelectHours');
     
      if(typeof $.cookie('SelectMinutes') != 'undefined') {

        var minutes = $.cookie('SelectMinutes');
     
      if(typeof $.cookie('SelectTime') != 'undefined') {

        var time = $.cookie('SelectTime');
     
            } 
          }
        }
      }


      if(typeof $.cookie('SmartDate') != 'undefined') {

        var smart_date = $.cookie('SmartDate');
       
      if(typeof $.cookie('SmartHours') != 'undefined') {

        var smart_hours = $.cookie('SmartHours');
     
      if(typeof $.cookie('SmartMinutes') != 'undefined') {

        var smart_minutes = $.cookie('SmartMinutes');

      if(typeof $.cookie('SmartTime') != 'undefined') {

        var smart_time = $.cookie('SmartTime');
     

            } 
          }
        }
      }

      %>


<div class="col-lg-1"></div>
 <div class="col-lg-9">
       
        <% if(typeof $.cookie('contacts') != 'undefined') {

           var view = $.cookie('contacts');
           
          if(view == 'group'){ %>

        <h2 class="page-title">Email Group > Review Your Email</h2>
    
          <% } else if(view == 'client') { %>

         <h2 class="page-title">Email Client > Review Your Email</h2>

          <% } else { %>

         <h2 class="page-title">Email SmartContent > Review Your Email</h2>

         <% } } %>

     <br/>

         <div class="row">

          <span class="check-error" style="padding: 25px"> </span>

            <div class="col-lg-9">
              
              <div class="form-group clearfix">
                 <div class="glyp_icon"> <span class="glyphicon glyphicon-user"></span></div>
                 <div class="rev_cont"><h4><strong>Contacts</strong></h4>

                 <p>  Your email will be delivered to

                 <% if(groups_array_length != 'undefined' && groups_array_length !='') {  %>

                 <%= groups_array_length  %> 

                 <% } %>

                 <% if(clients_array_length != 'undefined' && clients_array_length !='') {  %>

                 <%= clients_array_length  %> 

                 <% } %>

                <% if(smart_array_length != 'undefined' && smart_array_length !='') {  %>

                 <%= smart_array_length   %> 

                 <% } %>



                  <% if(typeof $.cookie('contacts') != 'undefined') {

                      var view = $.cookie('contacts');

                  if(view == 'group'){ 
                   if(groups_array_length != 'undefined' && groups_array_length != '' && groups_array_length == '1' ) {  %>   
                      group

                    <% } else { %> groups <%  } }


                  if(view == 'client'){
                   if(clients_array_length != 'undefined' && clients_array_length != '' && clients_array_length == '1' ) {  %>   
                      client

                    <% } else { %> clients <%  } }

                  if(view == 'smart'){ 
                    if(smart_array_length != 'undefined' && smart_array_length != '' && smart_array_length == '1' ) {  %>   
                      client

                    <% } else { %> clients <%  } }

                      } %>


                 </p>

                 </div>
                 <button class="btn btn-default btn_grp" name="btn" id ="edit_contacts" >Edit</button>
              </div>
              
              <div class="form-group clearfix">
                 <div class="glyp_icon"> <span class="glyphicon glyphicon-envelope"></span></div>
                  <div class="rev_cont">
                 
                  

                  <h4><strong>Email Contents</strong></h4>

                
                <% if(view != 'smart') {  %>

                 <p>You are sending 

                    
                 <% if(articles_array_length != 'undefined' && articles_array_length !='') {  %>

                 <%= articles_array_length  %> 

                 <% } %>
              
                 <% if(articles_array_length != 'undefined' && articles_array_length !='' && articles_array_length == '1') {  %>
                  
                 content item

                 <% } else { %>

                content items

                <% } %> </p>
 

                <% } else { %>

                <p> SmartContent<sup>TM</sup>  </p>

                <% } %>

                 </div>

                 <button data-target="#email-support" data-toggle="modal" class="btn btn-default btn_grp" name="btn" id ="edit_email_contents">Edit</button>
              </div>
              
              <div class="form-group clearfix">
                 <div class="glyp_icon"> <span class="glyphicon glyphicon-pencil"></span></div>
                  <div class="rev_cont"><h4><strong>Subject Line</strong></h4>
                  <p>"

          <% if(subject != 'undefined' && subject !='' && subject.length > 50) { 

              var trim_subject = subject.substr(0,50); %>

                  <%= trim_subject %> ...

               <% } else { %>

                <%= subject %>

           <% } %>

                  "</p></div>
                 <button class="btn btn-default btn_grp" name="btn" id ="edit_subject_line">Edit</button>
              </div>
              
              <div class="form-group clearfix">
                  <div class="glyp_icon"> <span class="glyphicon glyphicon-time"></span></div>
                  <div class="rev_cont"> <h4><strong>

                  Delivery Time

                  </strong></h4>

                  <p>

                  <% if(view =='group' || view == 'client') {
                   if(typeof date == 'undefined' 
                       && typeof hours == 'undefined'
                       && typeof minutes == 'undefined' 
                       &&  typeof time ==  'undefined'  ) { %> 

                    Your email will be delivered immediately.

                      <% } else {    %>

                  Your email will be delivered on <%= date+'   ' %> at <%= +hours+':'+ minutes +' '+ time %>

                  <% }  } else {  

                   if(typeof smart_date != 'undefined' && smart_date != 'undefined' && smart_date != ''
                       && typeof smart_hours != 'undefined' && smart_hours != 'undefined' && smart_hours != ''
                       && typeof smart_minutes != 'undefined' && smart_minutes != 'undefined' && smart_minutes != ''
                       &&  typeof smart_time !=  'undefined' && smart_time != 'undefined' && smart_time != '' ) { 

                    %>
                
                  Your email will be delivered on <%= smart_date+'   ' %> at <%= +smart_hours+':'+ smart_minutes +' '+ smart_time %>
                  
                   <% }  } %>

                  </p></div>

                 <button data-target="#del_tme" data-toggle="modal" class="btn btn-default btn_grp" name="btn" id ="edit_delivery_time1"> Edit </button>
              </div>
             
             <hr/> 
              
           <div class="btn-group btn-pathway">
             <button type="button" class="btn btn-default" id="contacts"><a href="#">Contacts</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default" id="email" ><a href="#">Email</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>
             <button type="button" class="btn btn-default active" id="review" ><a href="#">Review</a><span class="glyphicon glyphicon-chevron-right pathway"></span></button>

          </div>  

      <%
       if($.cookie('contacts') != null && $.cookie('contacts') == 'smart') {
     %>
          <button class="btn btn-primary btn_grp" name="btn" id="submit_email">Submit</button>
    <%} else { %>
 
         <button class="btn btn-primary btn_grp" name="btn" id="send_email" >Send</button>
             <% } %> 

            </div>
            <div class="col-lg-3"></div>
            
         </div>
                
       </div>
      
     <br/><br/>

     
 
  
  
