<%
   if($.cookie('SmartDate') != 'undefined') {
      var cookieSmartDate = decodeURI($.cookie('SmartDate'));

      console.log("cookieSmartDate", cookieSmartDate);

    }

     if($.cookie('SmartHours') != 'undefined') {
      var cookieSmartHours = decodeURI($.cookie('SmartHours'));

      console.log("cookieSmartHours", cookieSmartHours);

    }

     if($.cookie('SmartMinutes') != 'undefined') {
      var cookieSmartMinutes = decodeURI($.cookie('SmartMinutes'));

      console.log("cookieSmartMinutes", cookieSmartMinutes);

    }
   
     if($.cookie('SmartTime') != 'undefined') {
      var cookieSmartTime = decodeURI($.cookie('SmartTime'));

      console.log("cookieSmartTime", cookieSmartTime);

    }

     if($.cookie('SmartType') != 'undefined') {
      var cookieSmartType = decodeURI($.cookie('SmartType'));

      console.log("cookieSmartType", cookieSmartType);

    }
 
     if($.cookie('SmartFrequency') != 'undefined') {
      var cookieSmartFrequency = decodeURI($.cookie('SmartFrequency'));

      console.log("cookieSmartFrequency", cookieSmartFrequency);

    }
    
%>



<!-- DatePicker-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">  

<script> 

var dateToday = new Date();
  jQuery(function() {
             jQuery( "#pick_date" ).datepicker({
                dateFormat: "mm/dd/yy",
                //changeMonth: true,
                yearRange: 'c-65:c+10',
                //changeYear: true,
                minDate: dateToday,
                });
            });

  jQuery(function() {
             jQuery( "#smart_date" ).datepicker({
                dateFormat: "mm/dd/yy",
                //changeMonth: true,
                yearRange: 'c-65:c+10',
                //changeYear: true,
                minDate: dateToday,
                });
            });


    $("#smart_type").change(function(){
      
     if($("#smart_type").val() == 'one_time'){
      
    $("#frequency_hide").hide();

     }
     else{
   
     $("#frequency_hide").show();

     }
    });
     
     if($("#smart_type").val() == 'one_time'){
     
    $("#frequency_hide").hide();


     }

    $(document).ready(function(){
    $("label#date_error").hide();
    

    });


    $("#smart_date").change(function(){
      
    var regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;

    var date = $("#smart_date").val();
   
    if(!regex.test(date)){
     // alert("no");
      $("label#date_error").show();  
      $("#smart_date").focus();  
      return false;
      }
      else {
      $("label#date_error").hide();

      }
    });


      </script>

<!-- DatePicker-->


<div class="modal fade" id="del_tme_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
       
        <div class="modal-header modal-hadr-styl">
            <div class="clse_brn2"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> </div>
            <h2 class="page-title">Delivery Time</h2>
        </div> 
         
      <div class="modal-body">
        <div class="dlvry-tym-popup">

        <% if(cookieSmartType != 'undefined'){  
                                    var type_change = cookieSmartType  ;
                                     
                                   }  %>    


      <div class="row">
              <div class="col-lg-3">
                  Type: 
                </div>
                <div class="col-lg-9">
                  <select class="slct-frqncy" id="smart_type">
                      <option value ="recurring" <% if( type_change == "recurring") { %> selected = "selected" <% } %> >Recurring</option>
                      <option value ="one_time" <% if( type_change == "one_time") { %> selected = "selected" <% } %> >One Time</option>
                    <select>
                </div>
            </div><br/><br/>

              <% if(cookieSmartFrequency != 'undefined'){  
                                    var frequency_change = cookieSmartFrequency  ;
                                    
                                   }  %>    
          

            <div class="row" id="frequency_hide">
              <div class="col-lg-3">
                  Frequency: 
                </div>
                <div class="col-lg-9" >
                  <select class="slct-frqncy"  id="smart_frequency">
                      <option value ="weekly" <% if( frequency_change == "weekly") { %> selected = "selected" <% } %>>Weekly</option>
                       <option value ="monthly" <% if( frequency_change == "monthly") { %> selected = "selected" <% } %>>Monthly</option>
                    <select>
                </div>
            </div>

            <br /><br />
           <div class="row">
             <div class="col-lg-3"> Initial Delivery:</div>
             <div class="col-lg-9"> 
               <div class="del_time">

                 <% if(cookieSmartDate != 'undefined'){  
                                    var date_change = cookieSmartDate  ;

                                   }  %>


                <input type="text" name="txtobx" placeholder="mm/dd/yyyy" class="txtun_bx" id="smart_date" value="<%= date_change %>"/> at <br/><br/>

               <label style="color:red;" id="date_error"> Date should be of valid format.</label><br/>

            <% if(cookieSmartHours != 'undefined'){  
                                    var hours_change = cookieSmartHours  ;

                                   }  %>    
           

             <select name="tme" class="sel_bx" id="smart_hours">

              <% for(var a=0; a < 13; a++){
               if(a<10) { var b ="0"+a } else { var b = a } %>
               <option value="<%= b %>" <% if( hours_change == b) { %> selected = "selected" <% } %> >
              <%= b %>
               </option>
             
             <% } %>

               
             </select>
              
               <% if(cookieSmartMinutes != 'undefined'){  
                                    var minutes_change = cookieSmartMinutes  ;

                                   }  %>    

             <select name="min" class="sel_bx" id="smart_minutes">
              
              <% for(var a=0; a < 60; a++){
               if(a<10) { var b ="0"+a } else { var b = a } %>
               <option value="<%= b %>"  <% if( minutes_change == b) { %> selected = "selected" <% } %> >
              <%= b %>
               </option>
             
             <% } %>

               </select>
               
                <% if(cookieSmartTime != 'undefined'){  
                                    var time_change = cookieSmartTime  ;

                                   }  %>    

                <select name="sec" class="sel_bx" id="smart_time">
                   <option value ="AM" <% if( time_change == "AM") { %> selected = "selected" <% } %> > A.M. </option>  
                   <option value ="PM" <% if( time_change == "PM") { %> selected = "selected" <% } %>> P.M. </option>  
               </select>

               &nbsp;Eastern Time
              </div>
               
            </div>
         </div>
           
         </div>
       </div>
         
         <div class="modal-footer">
            <input type="button" name="btn1" class="btn btn-primary" id="smart_update" value="Update"> 
         </div>   
          
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>  