<input type="text" name="txtbx" placeholder="Client Search" class="form-control">
  <ul class="thumb_list2">
    <li><a href="#"> <span class="glyphicon glyphicon-thumbs-down"></span></a></li>
    <li><a href="#"> <span class="glyphicon glyphicon-thumbs-up"></span></a></li>
  </ul>
  <div class="clearfix"></div>
   <p class="email_sdbar"><strong>Next Email Delivery:</strong><br>
      mm/dd/yyyy<br>
     hh:mm am EST</p>