  <!-- Modal -->
  <div class="modal fade" id="plus_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="row"> 
            <div class="clse_brn">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           </div>
         </div>
         
        <div class="modal-body">
            <div class="popup_content">

           <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
             <form class="form-inline" role="form">
                 <div class="form-group">
                   <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                 </div>
                 <div class="form-group">
                  <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                </div>
                <div class="clearfix"></div>
                 <div class="checkbox">
                   <label><input type="checkbox"> Static</label>
                 </div>
             </form>     
              </div>
              <div class="clearfix"></div>
             <div class="col-lg-2"></div>
          </div>
            <br>

    
          <div class="row">
           <div class="col-lg-2"></div>
            <div class="col-lg-8">
             <span class="product_img">  </span>
            <a href="#">www.websitename.com</a>
            <p>Title of the article - This is the title</p><br>
          </div>
           <div class="col-lg-2"></div>
          </div>
            
          <div class="row">
             <div class="col-lg-12">
               <p>I have a weak spot for anything dessert of baking related so that is the first thing I look at when planning a dessert. In this case the mango mousse caught my eye!</p>
             </div>
          </div>
              
           </div>          
        </div>
        
      
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  